doctype html
html
  head
    title= title
    link(href="styles/styles.css", rel="stylesheet")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="scripts/carousel.js")
    script(src="scripts/app.js")
  body
    != yield