section.green
  article
    h1 Slideshow!
    h2 Just, like, use your arrow keys.

section.coral
  article
    h1 Another Slide!
    h2 This is never going to get old.

section.squash
  article
    img.monkey(src="images/monkey.png")

section.teal
  article
    :markdown
      Put some **crazy** markdown in here!

section.navy
  article
    :markdown
      Here comes an `iframe`...

section.navy
  iframe(src="http://harpjs.com" seamless)

section.navy
  article
    h1 That's all folks!