backgroundColor = #58488A
textColor = white

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family "helvetica neue", helvetica, arial
  margin 0
  padding 0
  color textColor
  background backgroundColor

section
  display block
  position relative
  margin 0
  padding 0
  height 100%
  width 100%
  padding 20px
  &.green
    background #3A5737
  &.coral
    background #C3553C
  &.squash
    background #CF9530
  &.teal
    background #53AC7A
  &.navy
    background #0E192A

article
  position absolute
  top 50%
  left 50%
  -webkit-transform translate(-50%, -50%)
  transform translate(-50%, -50%)
  overflow hidden

h1, h2
  font-weight bold
  text-align center
  line-height 1.3
  margin 0
  padding 0

h1
  font-size 72px

h2
  font-size 36px
  opacity 0.5

p
  text-align center
  font-size 36px
  line-height 1.5
  color rgba(textColor, 0.5)
  strong
    color textColor

a
  color textColor

img.monkey
  max-width: 500px
  max-height: 500px

iframe
  position: relative
  width: 100%
  height: 100%